<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="com/yedam/common/db.properties"></properties>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.yedam.product.domain.ProductVO" alias="prod"/>
		<typeAlias type="com.yedam.notice.domain.NoticeVO" alias="notice"/>
		<typeAlias type="com.yedam.notice.domain.ReplyVO" alias="reply"/>
		<typeAlias type="com.yedam.member.domain.MemberVO" alias="member"/>
		<typeAlias type="com.yedam.member.domain.CompanyVO" alias="company"/>
		<typeAlias type="com.yedam.product.domain.ProductVO" alias="product"/>
		<typeAlias type="com.yedam.product.domain.BoardVO" alias="board"/>
		<typeAlias type="com.yedam.product.domain.ReviewVO" alias="review"/>
		<typeAlias type="com.yedam.product.domain.QnaVO" alias="qna"/>
		<typeAlias type="com.yedam.member.domain.WishVO" alias="wish"/>
		<typeAlias type="com.yedam.member.domain.OrdersVO" alias="order"/>
		
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/yedam/product/mapper/ProductMapper.xml"/>
		<mapper resource="com/yedam/notice/mapper/NoticeMapper.xml"/>
		<mapper resource="com/yedam/notice/mapper/ReplyMapper.xml"/>
		<mapper resource="com/yedam/member/mapper/MemberMapper.xml"/>
		<mapper resource="com/yedam/member/mapper/CompanyMapper.xml"/>
	</mappers>
</configuration>