<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.product.mapper.ProductMapper">
	<!-- SEARCH -->
	<select id="searchProductName" resultType="String">
		<![CDATA[
		select product_name 
		from 
			(select product_name 
			from product 
			where product_name 
			like #{search} order 
			by product_name asc)
		where rownum <=5
		]]>
	</select>
	<select id="ctgMain" resultType="mctg">
		select * from maincategory
	</select>

	<select id="ctgSub" resultType="sctg">
		select * from subcategory
		where
		main_category_no=#{mainCategoryNo}
	</select>
	<select id="ctgJoin" resultType="board">
		select * from maincategory join
		subcategory using(main_category_no)
	</select>

	<select id="ctgProd" resultType="product">
		select * from(
		select * from
		product join member using(company_no))
		join (select * from subcategory
		join maincategory using(main_category_no))
		using(sub_category_no)
		where
		main_category_no=#{mainCategoryNo}
		and sub_category_no=#{subCategoryNo}
	</select>
	<!-- PRODUCT -->
	<select id="productList" resultType="product">
		select * from product order
		by 1
	</select>
	<select id="myProductList" resultType="product">
		select * from (
		select *
		from product join (
		select * from subcategory join maincategory
		using(main_category_no))
		using(sub_category_no)) join member
		using(company_no)
		where company_no=#{companyNo}
		order by product_name
	</select>

	<select id="prodWithPage" resultType="product">
 	<![CDATA[
    select b.*
    from (select rownum rn, a.*
          from (select * from product
                order by 1 ) a
          where rownum <= #{page} * 10 ) b
    where b.rn > (#{page} - 1) * 10  
    ]]>
	</select>
	<select id="searchprod" resultType="product">
		select * from product where
		product_no=#{productNo}
	</select>
	<insert id="insertProduct" parameterType="product">
		insert into product
		(product_no, product_name, price, product_count,
		sub_category_no,theme_no, company_no)
		values(products_seq.nextval,
		#{productName}, #{price}, #{productCount},#{subCategoryNo},
		#{themeNo}, #{companyNo})
	</insert>
	<update id="updateProduct" parameterType="product">
		update product set
		product_name=#{productName},
		product_price#{price},
		product_count=#{productCount}
		where product_no=#{productNo}
	</update>
	<delete id="deleteProduct" parameterType="int">
		delete from product
		where product_no = #{productNo}
	</delete>

	<!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<!-- BOARD -->
	<select id="boardList" resultType="board">
		select b.board_no,
		b.board_thumbnail, b.board_title, p.price as "price" from board b
		join
		product p
		on b.product_no = p.product_no
		order by 1
	</select>
	<select id="boardWithPage" resultType="board">
 	<![CDATA[
    select b.*
    from (select rownum rn, a.*
          from (select * from(
				select * from board join product
				using(product_no)) join subcategory
				using(sub_category_no)
				order by board_no) a
          where rownum <= #{page} * 12 ) b
    where b.rn > (#{page} - 1) * 12  
    ]]>
	</select>
	<select id="categoryList" resultType="board">
 	<![CDATA[
		select * from(
				select rownum rn, a.* from(
				select * from (board join product
				using(product_no)) join subcategory
				using(sub_category_no)
				where sub_category_no=#{subCategoryNo}
				order by board_no) a
 	       where rownum <= #{page}*20) b 
 	       where b.rn > (#{page}-1)*20
    ]]>
	</select>

	<select id="topCountList" resultType="board">
 		<![CDATA[
				select * from(
				select rownum rn, a.* from(
				select * from order_detail r 
				join orders o on (r.order_no = o.order_no)
				join delivery d on (d.order_no=r.order_no)
				join product p on (p.product_no=r.product_no)
				join board b on p.product_no=b.board_no
				join subcategory s on(s.sub_category_no=p.sub_category_no)
				where delivery_state='s'
				ORDER BY order_count desc) a
		       where rownum <= #{page}*12) b 
			where b.rn > (#{page}-1)*12
    	]]>
	</select>
	<select id="lowPriceList" resultType="board">
		<![CDATA[
			select * from(
				select rownum rn, a.* from(
				select * from board b
				join product p on p.product_no=b.product_no
				join subcategory s on p.sub_category_no=s.sub_category_no
				order by price asc) a
		       where rownum <= #{page}*12) b 
			where b.rn > (#{page}-1)*12
		]]>
	</select>
	<select id="highPriceList" resultType="board">
		<![CDATA[
			select * from(
				select rownum rn, a.* from(
				select * from board b
				join product p on p.product_no=b.product_no
				join subcategory s on p.sub_category_no=s.sub_category_no
				order by price asc) a
		       where rownum <= #{page}*12) b 
			where b.rn > (#{page}-1)*12
		]]>
	</select>

	<select id="searchPrice" resultType="board">
		<![CDATA[
			select * from(
				select rownum rn, a.* from(
				SELECT b.*, p.price
				FROM board b
				  JOIN product p on (p.product_no=b.product_no)
				  JOIN subcategory s on(p.sub_category_no=s.sub_category_no)
				WHERE p.price >= #{minPrice}
				  AND p.price <= #{maxPrice}
				ORDER BY b.board_no) a
		       where rownum <= #{page}*12) b 
			where b.rn > (#{page}-1)*12
		]]>
	</select>

	<select id="searchboard" resultType="board">
		select*from(select * from(
		select * from board join product using(product_no))
		join subcategory
		using(sub_category_no)
		where board_no=#{boardNo})join
		company
		using(company_no)
	</select>
	
	<select id="searchBoardFromName" resultType="product">
		select * from product where product_name=#{productName}
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from product
	</select>


	<insert id="insertBoard" parameterType="board">
		insert into
		board(board_no, board_title, board_thumbnail, board_content,
		board_attach, member_no, product_no)
		values(board_seq.nextval,
		#{boardTitle},
		#{boardThumbnail}, #{boardContent},#{boardAttach},
		#{memberNo}, #{productNo})
	</insert>
	<update id="updateBoard" parameterType="board">
		update board
		set
		board_title=#{boardTitle},
		board_content=#{boardContent}
		where board_no
		= #{boardNo}
	</update>
	<delete id="deleteBoard" parameterType="int">
		delete from board
		where board_no=#{boardNo}
	</delete>
	<select id="getOrderList" resultType="board">
		select * from orders join
		order_detail using(order_no)
		where member_no=#{memberNo}
	</select>
	<select id="searchMyorder" resultType="board">
		select * from orders where
		member_no=#{memberNo} and complete='r'
	</select>
	<insert id="insertOrder" parameterType="board">
		<selectKey keyProperty="orderNo" resultType="int"
			order="BEFORE">
			select ORDER_NO.nextval from dual
		</selectKey>
		insert into orders(order_no, order_date, member_no)
		values(#{orderNo},
		sysdate, #{memberNo})
	</insert>
	<insert id="insertOrderDetail" parameterType="board">
		insert into
		order_detail(order_detail_no, order_count, order_no, product_no)
		values(orderdetail.nextval, #{orderCount}, #{orderNo}, #{productNo})
	</insert>
	<update id="completeOrder" parameterType="int">
		update orders set complete='c' where order_no=#{orderNo}
	</update>


	<!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<!-- REVIEW -->
	<select id="reviewList" parameterType="int">
		select * from review join member using (member_no) where board_no=#{boardNo}
	</select>
	<select id="searchReview" parameterType="int">
		select * from review
		join member
		using(member_no)
		where review_no=#{reviewNo}
	</select>
	<insert id="insertReview" parameterType="review">
		insert into review
		(review_no, review_content, score, review_attach, member_no,
		board_no,review_date)
		values(review_seq.nextval,#{reviewContent},#{score},#{reviewAttach},#{memberNo},#{boardNo},sysdate)
	</insert>
	<update id="updateReview" parameterType="review">
		update review
		set
		review_content=#{reviewContent},
		score=#{score}
		where
		review_no=#{reviewNo}
	</update>
	<delete id="deleteReview" parameterType="int">
		delete review
		where review_no=#{reviewNo}
	</delete>
	<select id="myOrderList" parameterType="String">
		select m.member_no,
		m.id,m.name, o.order_no, o.order_date, p.product_name, b.*
		from member m
		join orders o on(m.member_no=o.member_no)
		join order_detail d on o.order_no = d.order_no
		join product p on p.product_no = d.product_no
		join board b on b.product_no = p.product_no
		where m.id=#{id}
	</select>

	<!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<!-- Qna -->
	<select id="qnaList" parameterType="int">
		select m.member_no, m.id,
		m.name, q.qna_no, q.qna_category, q.qna_title, q.qna_content,
		q.qna_date, q.qna_hide, q.qna_answer, q.board_no, p.product_no,
		p.product_name
		from member m
		join qna q on(m.member_no=q.member_no)
		join board b on q.board_no = b.board_no
		join product p on b.product_no = p.product_no
		where q.board_no = #{boardNo}
	</select>
	<update id="updateQna" parameterType="qna">
		update qna
		set qna_content=#{qnaContent}
		where qna_no=#{qnaNo}
		and member_no=#{memberNo}
		and qna_hide=#{qnaHide}
	</update>
	<delete id="deleteQna" parameterType="int">
		delete qna
		where qna_no=#{qnaNo}
	</delete>
	<select id="searchQna" parameterType="int">
		select * from qna where
		qna_no=#{qnaNo}
	</select>
	<insert id="insertQna" parameterType="qna">
		insert into qna (qna_no,qna_category,qna_title,qna_content,qna_date,member_no,board_no)
		values(QNA_SEQ.nextval,#{qnaCategory},#{qnaTitle},#{qnaContent},sysdate,#{memberNo},#{boardNo})
	</insert>


	<select id="selectTheme" resultType="theme">
 	<![CDATA[
    select b.*
    from (select rownum rn, a.*
          from (select * from board b join product p 
				on(b.product_no = p.product_no)
				join subcategory s on(p.sub_category_no=s.sub_category_no)
				join theme t on(t.theme_no=p.theme_no)
				where t.theme_no=#{theme_no}) a
          where rownum <= #{page} * 10 ) b
    where b.rn > (#{page} - 1) * 10
    order by price  
    ]]>
	</select>

	<!-- 판매상품리스트 -->
	<select id="productInfo2" resultType="product"
		parameterType="String">
		select * from(
		select * from(
		select * from(
		select * from member join company
		using(company_no))
		join product using(company_no))
		join subcategory
		using(sub_category_no))
		join maincategory using(main_category_no)
		where
		id = #{id}
	</select>
	<!-- 구매자통계 -->
	<select id="chartDataList" resultType="product"
		parameterType="int">
		SELECT gender, SUM(order_count) AS order_count
		FROM (
		SELECT 'm' AS gender, SUM(s.order_count) AS order_count
		FROM orders o
		JOIN order_detail s ON o.order_no=s.order_no
		JOIN member m ON m.member_no=o.member_no
		WHERE s.product_no=#{productNo} AND m.gender='m'

		UNION

		SELECT 'f' AS gender, NVL(SUM(s.order_count), 0) AS order_count
		FROM orders o
		JOIN order_detail s ON o.order_no=s.order_no
		JOIN member m ON m.member_no=o.member_no
		WHERE s.product_no=#{productNo} AND m.gender='f'
		)
		GROUP BY gender
	</select>


</mapper>