<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.product.mapper.ThemeMapper">
	<!-- 테마리스트 -->
	<select id="selectTheme" parameterType="theme" resultType="theme">
 	<![CDATA[
    select b.*
    from (select rownum rn, a.*
          from (select * from board b join product p 
				on(b.product_no = p.product_no)
				join theme t on(t.theme_no=p.theme_no)
				where t.theme_no=#{themeNo}) a
          where rownum <= #{page} * 10 ) b
    where b.rn > (#{page} - 1) * 10
    order by price
    ]]>
	</select>

</mapper>


