<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.notice.mapper.NoticeMapper">
	
	<select id="customerCenter">
		select notice_tile, notice_contect, notice_date
		from notice
		where selector=3;
	</select>
	
	

</mapper>
	